<ion-view view-title="Edit Profile">
  <ion-content>
    <div class="card">
      <div class="item item-divider">Personal Details</div>

      <label class="item item-input item-icon-left">
        <i class="ion-android-person padding-right"></i>
        <input type="text" placeholder="Name" ng-model="user.name" name="">
      </label>

      <label class="item item-input">
        <i class="ion-email padding-right"></i>
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>

      <label class="item item-input">
        <i class="ion-android-call padding-right"></i>
        <input type="tel" placeholder="Phone Number" ng-model="user.phone">
      </label>

      <label class="item item-input item-icon-left">
        <i class="ion-android-person padding-right"></i>
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>

      <label class="item item-input">
        <i class="ion-locked padding-right"></i>
        <input type="password" placeholder="Password">
      </label>

    </div>

    <div class="card">
      <div class="item item-divider">Account Details</div>

      <label class="item item-input item-icon-left">
        <i class="ion-card padding-right"></i>
        <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
      </label>

      <label class="item item-input">
        <i class="ion-android-lock padding-right"></i>
        <input type="password" placeholder="CVV">
      </label>

    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="saveDetails()">Save</button>
    </div>
  </ion-content>
</ion-view>
