<ion-view view-title="Create Quest">
  <ion-content class="padding" >
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quest Name</span>
        <input type="text" placeholder="SwearJar001" ng-model="data.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">The Ring bearer</span>
        <input type="text" placeholder="Frodo Baggins" ng-model="data.target">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">My Fellowship (Optional)</span>
        <input type="text" placeholder="Aragorn, Samwise" ng-model="data.supporter">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">My Contribution</span>
        <input type="text" placeholder="$25" ng-model="data.amount">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Penalty (per fault)</span>
        <input type="text" placeholder="$0.5" ng-model="data.penalty">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Duration
        </div>
        <select ng-model="data.duration">
          <option value="7" default>1 week</option>
          <option value="14">2 weeks</option>
          <option value="30">1 month</option>
          <option value="60">2 months</option>
        </select>
      </label>
<!--       <label class="item item-input item-stacked-label" id="CharityButton">
    <button class="button icon-right ion-chevron-right button-clear" href="#/tab/search-charity" ng-click="selectCharity()">Select Charity</button>
</label> -->

<!--       <label class="item item-input item-stacked-label" id="CharityName" style="display:none">
  <span class="input-label">Charity Name</span>
  <input type="text" ng-model="data.charity">

</label> -->

    </div>

    <div class="text-center">
      <p>
        <button class="button button-positive" ng-click="addQuest()">Create</button>
      </p>
    </div>

  </ion-content>
</ion-view>
