<ion-view view-title="Edit Profile">
  <ion-content>
    <div class="card">
      <div class="item item-divider">Personal Details</div>

      <div class="item item-input item-icon-left">
        <i class="ion-android-person padding-right"></i>
        <input type="text" placeholder="Name" value="{{user.name}}">
      </div>

      <div class="item item-input">
        <i class="ion-email padding-right"></i>
        <input type="email" placeholder="Email" value="{{user.email}}">
      </div>

      <div class="item item-input">
        <i class="ion-android-call padding-right"></i>
        <input type="tel" placeholder="Phone Number" value="{{user.phone}}">
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Account Details</div>

      <div class="item item-input item-icon-left">
        <i class="ion-android-person padding-right"></i>
        <input type="text" placeholder="Username" value="{{user.username}}">
      </div>

      <div class="item item-input">
        <i class="ion-email padding-right"></i>
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="saveDetails()">Save</button>
    </div>
  </ion-content>
</ion-view>
