<!--
This template loads the quests in homepage
The user at this point should have signed in
-->
<ion-view view-title="QuestBoard">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="quest in quests" type="item-text-wrap">

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/ionic.png">
            <h2>{{quest.name}}</h2>
            <p>{{"$" + quest.amount}}</p>
          </div>

          <div class="item item-body text-center">
            <p>
              <button class="button button-assertive" ng-click="addcount(quest)">
                Swear Tap
              </button>
            </p>
          </div>

          <div class="item tabs tabs-secondary">
            <a class="tab-item" href="#/tab/quests/{{quest.questid}}">Details</a>
            <a class="tab-item" href="#">Count: {{quest.count}}</a>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
