<ion-view view-title="Create Quest">
  <ion-content class="padding" >
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quest Name</span>
        <input type="text" placeholder="SwearJar001" ng-model="data.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Target</span>
        <input type="text" placeholder="abc@gmail.com" ng-model="data.target">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your Supporters (Optional)</span>
        <input type="text" placeholder="def@gmail.com" ng-model="data.supporter">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your Contribution</span>
        <input type="text" placeholder="$25" ng-model="data.amount">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Penalty (per fault)</span>
        <input type="text" placeholder="$0.5" ng-model="data.penalty">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Duration
        </div>
        <select>
          <option>1 week</option>
          <option default>2 weeks</option>
          <option>1 month</option>
          <option>2 months</option>
        </select>
      </label>

    </div>

    <button class="button" ng-click="addQuest()">
      Create
    </button>
  </ion-content>
</ion-view>
